
.assignment-dropdown{
    color: #212529;
}
.message-dropdown{
    border: 0;
}
.assignment-left{
    width: 320px;
}
.assignment-right{
    width: 584px;
}
.right-time{
    line-height: 2;
    text-align: right;
}
.card-text{
    font-size: 14px;
}
.people-message{
        padding: 16px 32px 23px 16px;
}

.btn-light{
    border:1px solid #CED4DA;
}
.arrow-left{
    margin-right: 23px; 
}
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.star-icon{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.talk-card.card{
    width: 566px;
    padding: 0;
    .talk-enter{
        height: 263px;
    }

}